@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@media (min-aspect-ratio: 16/9) {
  .vids-bg iframe {
    /* height = 100 * (9 / 16) = 56.25 */
    height: 56.25vw !important;
  }
}
@media (max-aspect-ratio: 16/9) {
  .vids-bg iframe {
    /* width = 100 / (9 / 16) = 177.777777 */
    width: 177.78vh !important;
  }
}